In [1]:
import pandas as pd

In [2]:
co2 = pd.read_csv('CO2_and_Oil.csv', index_col=0, parse_dates=True)
meat = pd.read_csv('Meat_and_Egg_Production.csv', index_col=0, parse_dates=True)
co2['Year'] = pd.to_datetime(co2['Year'], format='%Y').dt.year

C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\2803448425.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  co2 = pd.read_csv('CO2_and_Oil.csv', index_col=0, parse_dates=True)
C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\2803448425.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  meat = pd.read_csv('Meat_and_Egg_Production.csv', index_col=0, parse_dates=True)

In [3]:
meat['Year'] = pd.to_datetime(meat['Year'], format='%Y').dt.year
meat

,Code,Year,meat_prod_tonnes,Meat_supply_kgperCap,Food Balance Sheets: Eggs - Production (FAO (2017)) (tonnes)
Entity,,,,,
Afghanistan,AFG,1800,NaN,NaN,NaN
Afghanistan,AFG,1801,NaN,NaN,NaN
Afghanistan,AFG,1802,NaN,NaN,NaN
Afghanistan,AFG,1803,NaN,NaN,NaN
Afghanistan,AFG,1804,NaN,NaN,NaN
...,...,...,...,...,...
Zimbabwe,ZWE,2008,245066.0,18.93,29000.0
Zimbabwe,ZWE,2009,243059.0,20.57,30000.0
Zimbabwe,ZWE,2010,255823.0,20.06,30000.0
Zimbabwe,ZWE,2011,263281.0,20.76,30000.0
Zimbabwe,ZWE,2012,265376.0,20.40,30000.0

In [4]:
gdp = pd.read_csv('Urbanization_GDP_and_Population.csv', index_col=0, parse_dates=True)
gdp['Year'] = pd.to_datetime(gdp['Year'], format='%Y').dt.year
gdp

C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\3095068411.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  gdp = pd.read_csv('Urbanization_GDP_and_Population.csv', index_col=0, parse_dates=True)

            Code  Year  Urban (%)  GDP per capita (int.-$) ($)  Population
Entity
Afghanistan  AFG  1800        NaN                          NaN   3280000.0
Afghanistan  AFG  1801        NaN                          NaN   3280000.0
Afghanistan  AFG  1802        NaN                          NaN   3280000.0
Afghanistan  AFG  1803        NaN                          NaN   3280000.0
Afghanistan  AFG  1804        NaN                          NaN   3280000.0
...          ...   ...        ...                          ...         ...
Zimbabwe     ZWE  2008     33.560                       1260.0  12380000.0
Zimbabwe     ZWE  2009     33.378                       1329.0  12527000.0
Zimbabwe     ZWE  2010     33.196                       1425.0  12698000.0
Zimbabwe     ZWE  2011     33.015                       1515.0  12894000.0
Zimbabwe     ZWE  2012     32.834                       1623.0  13115000.0

[41859 rows x 5 columns]

In [5]:

co2_subset = co2[(co2['Year'] >= 2008) & (co2['Year'] <= 2012)].copy()
meat_subset = meat[(meat['Year'] >= 2008) & (meat['Year'] <= 2012)].copy()
gdp_subset = gdp[(gdp['Year'] >= 2008) & (gdp['Year'] <= 2012)].copy()
merged_df = pd.merge(co2_subset, meat_subset, on='Year', how='left')
merged_df = pd.merge(merged_df, gdp_subset, on='Year', how='left')
merged_df

,Code_x,Year,Per capita COâ‚‚ emissions (tonnes per capita),Oil production (Etemad & Luciana) (terawatt-hours),Code_y,meat_prod_tonnes,Meat_supply_kgperCap,Food Balance Sheets: Eggs - Production (FAO (2017)) (tonnes),Code,Urban (%),GDP per capita (int.-$) ($),Population
0,AFG,2008,0.153819,NaN,AFG,294060.0,12.15,17000.0,AFG,23.320000,1464.0,2.772200e+07
1,AFG,2008,0.153819,NaN,AFG,294060.0,12.15,17000.0,ALB,49.991000,8617.0,3.003000e+06
2,AFG,2008,0.153819,NaN,AFG,294060.0,12.15,17000.0,DZA,66.097000,12270.0,3.473100e+07
3,AFG,2008,0.153819,NaN,AFG,294060.0,12.15,17000.0,AND,89.004000,NaN,8.400000e+04
4,AFG,2008,0.153819,NaN,AFG,294060.0,12.15,17000.0,AGO,58.282000,6318.0,2.169600e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
38226860,ZWE,2012,0.517619,0.070749,ZWE,265376.0,20.40,30000.0,VNM,31.752000,4911.0,8.980200e+07
38226861,ZWE,2012,0.517619,0.070749,ZWE,265376.0,20.40,30000.0,OWID_WRL,52.577856,13821.0,7.125828e+09
38226862,ZWE,2012,0.517619,0.070749,ZWE,265376.0,20.40,30000.0,YEM,32.958000,3707.0,2.447300e+07
38226863,ZWE,2012,0.517619,0.070749,ZWE,265376.0,20.40,30000.0,ZMB,40.354000,3413.0,1.446500e+07
38226864,ZWE,2012,0.517619,0.070749,ZWE,265376.0,20.40,30000.0,ZWE,32.834000,1623.0,1.311500e+07

In [6]:
merged_df['Oil production (Etemad & Luciana) (terawatt-hours)'].fillna(0)
merged_df['meat_prod_tonnes'].fillna(0)
merged_df['Food Balance Sheets: Eggs - Production (FAO (2017)) (tonnes)'].fillna(0)

0           17000.0
1           17000.0
2           17000.0
3           17000.0
4           17000.0
             ...
38226860    30000.0
38226861    30000.0
38226862    30000.0
38226863    30000.0
38226864    30000.0
Name: Food Balance Sheets: Eggs - Production (FAO (2017)) (tonnes), Length: 38226865, dtype: float64

In [7]:
merged_df['Oils per-capita'] = merged_df['Oil production (Etemad & Luciana) (terawatt-hours)'] = merged_df['Oil production (Etemad & Luciana) (terawatt-hours)']  / merged_df['Population']
merged_df['meat per-capita'] = merged_df['meat_prod_tonnes'] = merged_df['meat_prod_tonnes']  / merged_df['Population']
merged_df['Food per-capita'] = merged_df['Food Balance Sheets: Eggs - Production (FAO (2017)) (tonnes)'] = merged_df['Food Balance Sheets: Eggs - Production (FAO (2017)) (tonnes)']  / merged_df['Population']
#Delete Old Columns
merged_df = merged_df.drop(['Oil production (Etemad & Luciana) (terawatt-hours)', 'meat_prod_tonnes',  'Food Balance Sheets: Eggs - Production (FAO (2017)) (tonnes)'], axis=1)
merged_df

,Code_x,Year,Per capita COâ‚‚ emissions (tonnes per capita),Code_y,Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Population,Oils per-capita,meat per-capita,Food per-capita
0,AFG,2008,0.153819,AFG,12.15,AFG,23.320000,1464.0,2.772200e+07,NaN,0.010607,0.000613
1,AFG,2008,0.153819,AFG,12.15,ALB,49.991000,8617.0,3.003000e+06,NaN,0.097922,0.005661
2,AFG,2008,0.153819,AFG,12.15,DZA,66.097000,12270.0,3.473100e+07,NaN,0.008467,0.000489
3,AFG,2008,0.153819,AFG,12.15,AND,89.004000,NaN,8.400000e+04,NaN,3.500714,0.202381
4,AFG,2008,0.153819,AFG,12.15,AGO,58.282000,6318.0,2.169600e+07,NaN,0.013554,0.000784
...,...,...,...,...,...,...,...,...,...,...,...,...
38226860,ZWE,2012,0.517619,ZWE,20.40,VNM,31.752000,4911.0,8.980200e+07,7.878351e-10,0.002955,0.000334
38226861,ZWE,2012,0.517619,ZWE,20.40,OWID_WRL,52.577856,13821.0,7.125828e+09,9.928554e-12,0.000037,0.000004
38226862,ZWE,2012,0.517619,ZWE,20.40,YEM,32.958000,3707.0,2.447300e+07,2.890907e-09,0.010844,0.001226
38226863,ZWE,2012,0.517619,ZWE,20.40,ZMB,40.354000,3413.0,1.446500e+07,4.891059e-09,0.018346,0.002074
38226864,ZWE,2012,0.517619,ZWE,20.40,ZWE,32.834000,1623.0,1.311500e+07,5.394523e-09,0.020235,0.002287

In [8]:
merged_df = merged_df.drop(['Population'], axis=1)
merged_df

,Code_x,Year,Per capita COâ‚‚ emissions (tonnes per capita),Code_y,Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,AFG,2008,0.153819,AFG,12.15,AFG,23.320000,1464.0,NaN,0.010607,0.000613
1,AFG,2008,0.153819,AFG,12.15,ALB,49.991000,8617.0,NaN,0.097922,0.005661
2,AFG,2008,0.153819,AFG,12.15,DZA,66.097000,12270.0,NaN,0.008467,0.000489
3,AFG,2008,0.153819,AFG,12.15,AND,89.004000,NaN,NaN,3.500714,0.202381
4,AFG,2008,0.153819,AFG,12.15,AGO,58.282000,6318.0,NaN,0.013554,0.000784
...,...,...,...,...,...,...,...,...,...,...,...
38226860,ZWE,2012,0.517619,ZWE,20.40,VNM,31.752000,4911.0,7.878351e-10,0.002955,0.000334
38226861,ZWE,2012,0.517619,ZWE,20.40,OWID_WRL,52.577856,13821.0,9.928554e-12,0.000037,0.000004
38226862,ZWE,2012,0.517619,ZWE,20.40,YEM,32.958000,3707.0,2.890907e-09,0.010844,0.001226
38226863,ZWE,2012,0.517619,ZWE,20.40,ZMB,40.354000,3413.0,4.891059e-09,0.018346,0.002074
38226864,ZWE,2012,0.517619,ZWE,20.40,ZWE,32.834000,1623.0,5.394523e-09,0.020235,0.002287

In [9]:
merged_df = merged_df.head(985)

merged_df

,Code_x,Year,Per capita COâ‚‚ emissions (tonnes per capita),Code_y,Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,AFG,2008,0.153819,AFG,12.15,AFG,23.320000,1464.0,NaN,0.010607,6.132314e-04
1,AFG,2008,0.153819,AFG,12.15,ALB,49.991000,8617.0,NaN,0.097922,5.661006e-03
2,AFG,2008,0.153819,AFG,12.15,DZA,66.097000,12270.0,NaN,0.008467,4.894763e-04
3,AFG,2008,0.153819,AFG,12.15,AND,89.004000,NaN,NaN,3.500714,2.023810e-01
4,AFG,2008,0.153819,AFG,12.15,AGO,58.282000,6318.0,NaN,0.013554,7.835546e-04
...,...,...,...,...,...,...,...,...,...,...,...
980,AFG,2008,0.153819,AGO,26.88,VNM,29.128000,4010.0,NaN,0.002252,5.797572e-05
981,AFG,2008,0.153819,AGO,26.88,OWID_WRL,50.660309,12424.0,NaN,0.000029,7.364759e-07
982,AFG,2008,0.153819,AGO,26.88,YEM,30.619000,3759.0,NaN,0.008871,2.283939e-04
983,AFG,2008,0.153819,AGO,26.88,ZMB,38.371000,2440.0,NaN,0.015114,3.891353e-04
984,AFG,2008,0.153819,AGO,26.88,ZWE,33.560000,1260.0,NaN,0.015686,4.038772e-04

In [10]:
entity_data = pd.read_csv('CO2_and_Oil.csv', usecols=['Year', 'Entity'])

# Assuming 'merged_df' is the DataFrame you have truncated to 985 rows
merged_df = merged_df.head(985)

# Merge 'Entity' column explicitly
merged_df = pd.merge(merged_df, entity_data, on='Year', how='left')

# Rearrange columns with 'Entity' as the first column
merged_df = merged_df[['Entity'] + [col for col in merged_df.columns if col != 'Entity']]

In [11]:

merged_df = merged_df.head(985)

In [12]:
merged_df['Oils per-capita'].fillna(0)
merged_df

,Entity,Code_x,Year,Per capita COâ‚‚ emissions (tonnes per capita),Code_y,Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
1,Albania,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
2,Algeria,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
3,Andorra,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
4,Angola,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...,...,...
980,Vietnam,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
981,World,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
982,Yemen,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
983,Zambia,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
984,Zimbabwe,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784

In [13]:
merged_df = merged_df[merged_df['Entity'] != 'World']
merged_df

,Entity,Code_x,Year,Per capita COâ‚‚ emissions (tonnes per capita),Code_y,Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
1,Albania,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
2,Algeria,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
3,Andorra,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
4,Angola,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
980,Vietnam,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
982,Yemen,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
983,Zambia,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
984,Zimbabwe,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784

In [14]:
merged_df.fillna(0)

,Entity,Code_x,Year,Per capita COâ‚‚ emissions (tonnes per capita),Code_y,Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
1,Albania,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
2,Algeria,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
3,Andorra,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
4,Angola,AFG,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784
980,Vietnam,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784
982,Yemen,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784
983,Zambia,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784
984,Zimbabwe,AFG,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784

In [15]:
merged_df['Code_x'] = merged_df['Code']
merged_df.drop(['Code_x'], axis=1)

C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\4054372319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Code_x'] = merged_df['Code']

,Entity,Year,Per capita COâ‚‚ emissions (tonnes per capita),Code_y,Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
1,Albania,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
2,Algeria,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
3,Andorra,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
4,Angola,2008,0.153819,AFG,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
980,Vietnam,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
982,Yemen,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
983,Zambia,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
984,Zimbabwe,2008,0.153819,AFG,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784

In [16]:
merged_df.drop(['Code_y'], axis=1)

,Entity,Code_x,Year,Per capita COâ‚‚ emissions (tonnes per capita),Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,AFG,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
1,Albania,AFG,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
2,Algeria,AFG,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
3,Andorra,AFG,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
4,Angola,AFG,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,AGO,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
980,Vietnam,AGO,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
982,Yemen,AGO,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
983,Zambia,AGO,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
984,Zimbabwe,AGO,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784

In [17]:
columns_to_delete = ['Code_x', 'Code_y']

# Drop the specified columns
merged_df.drop(columns=columns_to_delete, inplace=True)
merged_df

C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\222304256.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.drop(columns=columns_to_delete, inplace=True)

,Entity,Year,Per capita COâ‚‚ emissions (tonnes per capita),Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
1,Albania,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
2,Algeria,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
3,Andorra,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
4,Angola,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
980,Vietnam,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
982,Yemen,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
983,Zambia,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
984,Zimbabwe,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784

In [18]:
merged_df

,Entity,Year,Per capita COâ‚‚ emissions (tonnes per capita),Meat_supply_kgperCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
1,Albania,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
2,Algeria,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
3,Andorra,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
4,Angola,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
980,Vietnam,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
982,Yemen,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
983,Zambia,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
984,Zimbabwe,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784

In [19]:
column_name_mapping = {
    'Per capita COâ‚‚ emissions (tonnes per capita)': 'CO2PerCapita',
    'Meat_supply_kgperCap': 'MeatSupplyKgPerCap',

}

# Rename columns using the dictionary
merged_df.rename(columns=column_name_mapping, inplace=True)
# Display the DataFrame with the updated column order and names

merged_df

C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\4185677736.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.rename(columns=column_name_mapping, inplace=True)

,Entity,Year,CO2PerCapita,MeatSupplyKgPerCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
1,Albania,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
2,Algeria,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
3,Andorra,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
4,Angola,2008,0.153819,12.15,AFG,23.320,1464.0,NaN,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
980,Vietnam,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
982,Yemen,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
983,Zambia,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784
984,Zimbabwe,2008,0.153819,12.15,AGO,58.282,6318.0,NaN,0.013554,0.000784

In [20]:
merged_df.fillna(0, inplace=True)
merged_df

C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\2378660958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.fillna(0, inplace=True)

,Entity,Year,CO2PerCapita,MeatSupplyKgPerCap,Code,Urban (%),GDP per capita (int.-$) ($),Oils per-capita,meat per-capita,Food per-capita
0,Afghanistan,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
1,Albania,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
2,Algeria,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
3,Andorra,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
4,Angola,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613
...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784
980,Vietnam,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784
982,Yemen,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784
983,Zambia,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784
984,Zimbabwe,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784

In [25]:
column_name_mapping = {
    'Urban (%)': 'Urban_Percentage',
    'GDP per capita (int.-$) ($)': 'GDP_Per_Capita'
}

# Rename columns using the dictionary
merged_df.rename(columns=column_name_mapping, inplace=True)

C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\3811067295.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.rename(columns=column_name_mapping, inplace=True)

In [30]:
columns_to_analyze = ['Urban_Percentage', 'GDP_Per_Capita', 'Oils per-capita', 'meat per-capita', 'Food per-capita']

# Create a new column based on the mean of each specified column, grouped by 'Year'
for column in columns_to_analyze:
    new_column_name = f"{column}_mean"
    merged_df[new_column_name] = merged_df.groupby('Year')[column].transform('mean')

# Display the DataFrame with the new columns
merged_df

C:\Users\hadou\AppData\Local\Temp\ipykernel_2776\190768846.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[new_column_name] = merged_df.groupby('Year')[column].transform('mean')

,Entity,Year,CO2PerCapita,MeatSupplyKgPerCap,Code,Urban_Percentage,GDP_Per_Capita,Oils per-capita,meat per-capita,Food per-capita,Urban_Percentage_mean,GDP_Per_Capita_mean,Oils per-capita_mean,meat per-capita_mean,Food per-capita_mean
0,Afghanistan,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
1,Albania,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
2,Algeria,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
3,Andorra,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
4,Angola,2008,0.153819,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986
980,Vietnam,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986
982,Yemen,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986
983,Zambia,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986
984,Zimbabwe,2008,0.153819,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986

In [38]:

def custom_agg(series):
    if pd.api.types.is_numeric_dtype(series.dtype):
        return series.mean()
    else:
        return series.iloc[0]  # For non-numeric types, take the first value

# Group by 'Entity' and aggregate using the custom function
country_df = merged_df.groupby('Entity').agg(custom_agg).reset_index()

In [40]:
country_df
# Assuming 'country_df' is your new DataFrame with one row per country
country_df.to_csv('./Results/country_dataset.csv', index=False)

In [41]:
# Assuming 'country_df' is your new DataFrame with one row per country
country_df['Country'] = country_df['Entity']

# Save the DataFrame to a CSV file
country_df.to_csv('./Results/country_dataset_with_country_column.csv', index=False)

In [55]:
# Filter data for the years 2008-2012
subset_df = merged_df[(merged_df['Year'] >= 2008) & (merged_df['Year'] <= 2012)].copy()

# Calculate the rank for each country and year based on CO2 production per capita
subset_df['CO2PerCapita'] = subset_df.groupby('Year')['CO2PerCapita'].rank(ascending=False, method='min')

# Save the DataFrame to a CSV file
subset_df.to_csv('./Results/rank_per_year_dataset.csv', index=False)

In [56]:
subset_df

,Entity,Year,CO2PerCapita,MeatSupplyKgPerCap,Code,Urban_Percentage,GDP_Per_Capita,Oils per-capita,meat per-capita,Food per-capita,Urban_Percentage_mean,GDP_Per_Capita_mean,Oils per-capita_mean,meat per-capita_mean,Food per-capita_mean
0,Afghanistan,2008,1.0,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
1,Albania,2008,1.0,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
2,Algeria,2008,1.0,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
3,Andorra,2008,1.0,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
4,Angola,2008,1.0,12.15,AFG,23.320,1464.0,0.0,0.010607,0.000613,57.3388,5733.8,0.0,0.726253,0.041986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,Venezuela,2008,1.0,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986
980,Vietnam,2008,1.0,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986
982,Yemen,2008,1.0,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986
983,Zambia,2008,1.0,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986
984,Zimbabwe,2008,1.0,12.15,AGO,58.282,6318.0,0.0,0.013554,0.000784,57.3388,5733.8,0.0,0.726253,0.041986

In [58]:
# Filter data for the years 2009-2012
subset_df = merged_df[(merged_df['Year'] >= 2009) & (merged_df['Year'] <= 2012)].copy()

# Calculate the change in CO2 production compared to the previous year
subset_df['CO2Change'] = subset_df.groupby('Entity')['CO2PerCapita'].diff()

# Save the DataFrame to a CSV file
subset_df.to_csv('./Results/change_per_year_dataset.csv', index=False)